# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual env
venv/
env/
.venv/

# Data & artifacts
data/
artifacts/
*.pkl
*.joblib
*.csv

# MLflow
mlruns/

# Docker
*.log
docker-data/

# Airflow
airflow/airflow.cfg
airflow/logs/


# OS
.DS_Store

